<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portifolio</title>
  <link rel="stylesheet" href="../assests/home.css">
</head>
<body>
  <header>
    <nav>
      <h1>Portifolio</h1>

      <ul>
        <li><a href="./index.html">Home</a></li>
        <li><a href="#">Midia</a></li>
        <li><a href="#">Sobre</a></li>
      </ul>
    </nav>
  </header>
 
  </svg>
  <main>
    <div class="aside-left">
      
      <a href="">
        <div class="card perfil">
          <img src="../assests/profile-pic (3).png" alt="foto de caio">
          <figcaption>CAIO ALBERTO FERREIRA</figcaption>
        </div>
      </a>

      <div class="card">
        <p>
          Nome: caio alberto ferreira</p>
          <p>idade: 21 anos</p>
      </div>

      <div class="card">
        
      </div>
    </div>

    <div class="aside-rigth">
      <div id="my-projects" class="card">
        <a href="#">meus projetos</a>
      </div>
      
      <div class="projects">
        <div class="project-card"></div>
        <div class="project-card"></div>
      </div>
    </div>
  </main>
</body>
</html>